$black: black;
$white: white;
$app-name: #37928c;
$background: #DFD7CD;
$main: #BCAB96;
$secondary: #A68E73;
$active: #997853;
$shadow: rgb(53, 53, 53);
$book-background: linear-gradient(#ac9273, #8b622c);
$shelf: linear-gradient(#886c55, #1f150f);